* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

#body {
    background-image: url('../../assets/fundo.png'); /* Caminho da imagem de fundo */
    background-size: cover;  /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Faz com que a imagem fique fixa enquanto rola a página */
    min-height: 100vh; /* Ajusta a altura mínima para ocupar toda a tela */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Garante que o conteúdo seja centralizado */
    align-items: center; /* Alinha o conteúdo no centro da horizontal */
    overflow-y: auto; /* Permite rolagem vertical */
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px; /* Distância do topo */
    padding-bottom: 30px; /* Distância abaixo do logo */
}

img {
    width: 250px; /* Tamanho da logo */
}

form {
    width: 100%;
    max-width: 500px; /* Largura máxima do formulário */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    background-color: rgba(0, 129, 170, 0.7); /* Fundo translúcido do formulário */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra suave */
    margin-top: 0; /* Remove qualquer margem extra no topo */
    margin-bottom: 20px; /* Adiciona margem abaixo do formulário */
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px; /* Tamanho do título */
    color: white;
    padding-bottom: 20px; /* Espaço abaixo do título */
}

ion-input {
    --background: white;
    --color: #5A6266;
    margin-bottom: 15px; /* Espaçamento entre os campos */
    padding-left: 10px;
    border-radius: 25px; /* Bordas arredondadas nos campos de entrada */
    font-size: 14px;
    height: 50px;  /* Aumenta a altura dos campos de input */
}

ion-input::part(input) {
    padding: 0;  /* Remove o padding extra do input */
}

ion-button {
    --background: #0081AA; /* Cor do fundo do botão */
    --color: white; /* Cor do texto */
    width: 100%; /* O botão vai ocupar toda a largura disponível */
    height: 50px;
    font-size: 18px;
    border-radius: 25px;  /* Torna o botão arredondado */
    margin-top: 20px;  /* Adiciona espaçamento superior */
    transition: all 0.3s ease; /* Transição suave para todos os efeitos */
}

ion-button:hover {
    --background: #5A6266; /* Muda a cor do botão ao passar o mouse */
    --color: white;
    cursor: pointer;  /* Muda o cursor para o ponteiro */
}

a {
    color: #041230;
    text-decoration: none; /* Remove o sublinhado padrão */
    position: relative; /* Necessário para o efeito de sublinhado animado */
    font-weight: bold; /* Torna o link mais visível */
    transition: color 0.3s ease, padding-bottom 0.3s ease; /* Transição suave para cor e padding */
    cursor: pointer; /* Muda o cursor para o ponteiro */
}

a:hover {
    color: #0081AA;  /* Muda a cor do texto quando passa o mouse */
    padding-bottom: 4px; /* Adiciona um pequeno espaço abaixo do link para o efeito */
}

a:after {
    content: ''; /* Cria o sublinhado */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0081AA; /* Cor do sublinhado */
    transform: scaleX(0); /* Inicialmente o sublinhado está invisível */
    transition: transform 0.3s ease; /* Efeito de animação */
}

a:hover:after {
    transform: scaleX(1); /* Quando passar o mouse, o sublinhado aparece */
}

#direitos {
    margin: 60px 10px 10px 10px;
    padding-bottom: 20px;
    text-align: center; /* Centraliza o texto */
    color: white;
    font-size: 12px;
}

.card-cadastro ion-input {
    --background: white;
    --color: #5A6266;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 25px; /* Bordas arredondadas */
    font-size: 14px;
    height: 50px; /* Aumenta a altura dos campos de input */
  }
  