<link rel="stylesheet" href="cadastro.page.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  <ion-menu contentId="main-content" side="start">
    
  <div class="perfil">
      <img class="foto-perfil" src="assets/eu 1.png" alt="">
  </div>

  <div>
    <h1>Nome</h1>
    <h1>Plano</h1>
  </div>

  

  </ion-menu>

  <ion-router-outlet id="main-content">
    <ion-header class="cabecalho" [translucent]="true">
      <ion-toolbar id="menu">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="topo-side-menu">    
          <div id="logo-topo">
            <img src="assets/icon/logo.png" alt="">
          </div>    
        </ion-title>
      </ion-toolbar>
    </ion-header>


<div id="body">

  <div id="logo">
    <img src="assets/icon/logo.png" alt="">
  </div>
  
<ion-card class="card-cadastro">

  <ion-card-header>
    <ion-card-title id="titulo">Cadastre-se</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
        <ion-input
        type="nome"
        fill="solid"
        label="Nome Completo"
        labelPlacement="floating"
        helperText="Digite um Nome Válido"
        errorText="Invalid email"
        ngModel
        email
      ></ion-input>  
    </ion-item>

    <ion-item>
      <ion-button (click)="goHome()">Finalizar</ion-button>
    </ion-item>

  </ion-card-content>

    <!--
    <ion-item>
      <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>  
    </ion-item>

    <ion-item>
      <ion-input
      type="email"
      fill="solid"
      label="Senha"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>  
    </ion-item>

    <ion-item>
      <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>  
    </ion-item>

    <ion-item>
      <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>  
    </ion-item>

    <ion-item>
      <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>  
    </ion-item>

    <ion-item>
      <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>  
    </ion-item>

    <ion-item>
      <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>  
    </ion-item> 
    -->



    <!--

    <ion-item>
      <ion-input class="custom-input"
        type="nome"
        fill="solid"
        label="Nome Completo"
        labelPlacement="floating"
        helperText="Digite um nome válido"
        errorText="Nome inválido"
        ngModel
        text
  >   </ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="nomeMae"
        fill="solid"
        label="Nome materno"
        labelPlacement="floating"
        helperText="Digite um nome válido"
        errorText="Nome inválido"
        ngModel
        text
      ></ion-input>
    </ion-card-content> 
  
    <ion-card-content class="text-box">
      <ion-input
        type="nomeMae"
        fill="solid"
        label="Nome paterno"
        labelPlacement="floating"
        helperText="Digite um nome válido"
        errorText="Nome inválido"
        ngModel
        text
    > </ion-input>
  </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="cpf"
        fill="solid"
        label="CPF"
        labelPlacement="floating"
        helperText="Digite um CPF válido"
        errorText="CPF inválido"
        ngModel
        text
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="celular"
        fill="solid"
        label="Celular"
        labelPlacement="floating"
        helperText="Digíte um número válido"
        errorText="Número inválido"
        ngModel
        tel
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="cep"
        fill="solid"
        label="CEP"
        labelPlacement="floating"
        helperText="Digite um CEP válido"
        errorText="CEP inválido"
        ngModel
        numeric
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="estado"
        fill="solid"
        label="Estado"
        labelPlacement="floating"
        helperText="Digite um estado válido"
        errorText="Estado inválido"
        ngModel
        text
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="cidade"
        fill="solid"
        label="Cidade"
        labelPlacement="floating"
        helperText="Digite uma cidade válida"
        errorText="Cidade inválida"
        ngModel
        text
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="endereco"
        fill="solid"
        label="Endereço"
        labelPlacement="floating"
        helperText="Digite um endereço válido"
        errorText="Endereço Inválido"
        ngModel
        text
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        helperText="Digite um Email válido"
        errorText="Email inválido"
        ngModel
        required
        email
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input 
        type="senha"
        fill="solid"
        label="Senha"
        labelPlacement="floating"
        helperText="Digite uma senha válida"
        errorText="Senha inválida"
        ngModel
        required
        email
        min-lenght="10"
      ></ion-input>
    </ion-item>
  
    <ion-card-content class="text-box">
      <ion-input
        type="plano"
        fill="solid"
        label="Plano"
        labelPlacement="floating"
        helperText="Digite um plano válido"
        errorText="Plano inválido"
        ngModel
        text
      ></ion-input>
    </ion-item>
  


    <div id="botao">
      <ion-button>Entrar</ion-button>
    </div>

    <div id="botao">
      <ion-button>Voltar</ion-button>
    </div>
  </ion-card-content>
</ion-card>
</div>




  <div class="login-container">
    <form padding [formGroup]="signupForm" (submit)="signup()" novalide> 
      <ion-item>
      <ion-input type="text" formControlName="firstName" placeholder="" ></ion-input>
      </ion-item>
    </form>
  </div>



<ion-card labelPlacement="start" class="fundo-cadastro">

  <ion-card-content class="logotipo">
    <img src="assets/icon/logo.png" alt="Logo" >
  </ion-card-content>

  <ion-card-content class="text-box" >
    <ion-input class="custom-input"
      type="nome"
      fill="solid"
      label="Nome Completo"
      labelPlacement="floating"
      helperText="Digite um nome válido"
      errorText="Nome inválido"
      ngModel
      text
>   </ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="nomeMae"
      fill="solid"
      label="Nome materno"
      labelPlacement="floating"
      helperText="Digite um nome válido"
      errorText="Nome inválido"
      ngModel
      text
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="nomeMae"
      fill="solid"
      label="Nome paterno"
      labelPlacement="floating"
      helperText="Digite um nome válido"
      errorText="Nome inválido"
      ngModel
      text
  > </ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="cpf"
      fill="solid"
      label="CPF"
      labelPlacement="floating"
      helperText="Digite um CPF válido"
      errorText="CPF inválido"
      ngModel
      text
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="celular"
      fill="solid"
      label="Celular"
      labelPlacement="floating"
      helperText="Digíte um número válido"
      errorText="Número inválido"
      ngModel
      tel
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="cep"
      fill="solid"
      label="CEP"
      labelPlacement="floating"
      helperText="Digite um CEP válido"
      errorText="CEP inválido"
      ngModel
      numeric
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="estado"
      fill="solid"
      label="Estado"
      labelPlacement="floating"
      helperText="Digite um estado válido"
      errorText="Estado inválido"
      ngModel
      text
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="cidade"
      fill="solid"
      label="Cidade"
      labelPlacement="floating"
      helperText="Digite uma cidade válida"
      errorText="Cidade inválida"
      ngModel
      text
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="endereco"
      fill="solid"
      label="Endereço"
      labelPlacement="floating"
      helperText="Digite um endereço válido"
      errorText="Endereço Inválido"
      ngModel
      text
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Digite um Email válido"
      errorText="Email inválido"
      ngModel
      required
      email
    ></ion-input>
  </ion-card-content> 

  <ion-card-content class="text-box">
    <ion-input 
      type="senha"
      fill="solid"
      label="Senha"
      labelPlacement="floating"
      helperText="Digite uma senha válida"
      errorText="Senha inválida"
      ngModel
      required
      email
      min-lenght="10"
    ></ion-input>
  </ion-card-content > 

  <ion-card-content class="text-box">
    <ion-input
      type="plano"
      fill="solid"
      label="Plano"
      labelPlacement="floating"
      helperText="Digite um plano válido"
      errorText="Plano inválido"
      ngModel
      text
    ></ion-input>
  </ion-card-content> 

</ion-card>
-->

<script>
  const input = document.querySelector('ion-input');

  input.addEventListener('ionInput', (ev) => validate(ev));
  input.addEventListener('ionBlur', () => markTouched());

  const validateEmail = (email) => {
    return email.match(
      /^(?=.{1,254}$)(?=.{1,64}@)[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
    );
  };

  const validate = (ev) => {
    const value = ev.target.value;

    input.classList.remove('ion-valid');
    input.classList.remove('ion-invalid');

    if (value === '') return;

    validateEmail(value) ? input.classList.add('ion-valid') : input.classList.add('ion-invalid');
  };

  const markTouched = () => {
    input.classList.add('ion-touched');
  };
</script>

