<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<ion-header [translucent]="true"></ion-header>

<ion-content fullscreen>
  <div id="body">
    <div id="logo">
      <img src="assets/icon/logo.png" alt="Logo">
    </div>

    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <ion-input formControlName="nome" label="Nome" placeholder="..."></ion-input>
      <ion-input formControlName="email" label="Email" placeholder="..."></ion-input>
      <ion-input formControlName="senha" label="Senha" type="password" placeholder="..."></ion-input>
      <ion-input formControlName="dataNascimento" label="Dt. Nascimento" type="date"></ion-input>
      <ion-input formControlName="genero" label="Gênero" placeholder="..."></ion-input>
      <ion-input formControlName="nomeMae" label="Nome da Mãe" placeholder="..."></ion-input>
      <ion-input formControlName="cpf" label="CPF" placeholder="..."></ion-input>
      <ion-input formControlName="celular" label="Número de Celular" placeholder="..."></ion-input>
      <ion-input formControlName="cep" label="CEP" placeholder="..."></ion-input>
      <ion-input formControlName="pais" label="País" placeholder="..."></ion-input>
      <ion-input formControlName="estado" label="Estado" placeholder="..."></ion-input>
      <ion-input formControlName="bairro" label="Bairro" placeholder="..."></ion-input>
      <ion-input formControlName="endereco" label="Endereço" placeholder="..."></ion-input>

      <div id="botao">
        <ion-button type="submit" [disabled]="!cadastroForm.valid">Cadastrar</ion-button>
      </div>
    </form>
      <div>
        <ion-button type="submit" expand="block" [routerLink]="['/login']">Voltar para Login</ion-button>
      </div>
    <p id="direitos">©ConectaMed - Todos os direitos reservados</p>
  </div>
</ion-content>
