* {
    font-family: "Open Sans", sans-serif;
}

#body {
    background-image: url('../../assets/fundo.png'); 
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow-y: auto; 
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px; 
    padding-bottom: 30px; 
}

img {
    width: 200px; 
}

form {
    padding: 10px;
    background-color: rgba(0, 129, 170, 0.7); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}


ion-input {
    --background: white;
    --color: #5A6266;
    margin-bottom: 10px; 
    --padding-start: 5px;
    border-radius: 40px; 
    border:none;
    font-size: 10px;
    width: 190px;
}


ion-button {
    --background: #0081AA; 
    --color: white; 
    width: 190px; 
    height: 50px;
    font-size: 16px;
    border-radius: 25px;  
    margin-top: 20px;  
    transition: all 0.3s ease; 
   
}

ion-button:hover {
    --background: #5A6266; 
    --color: white;
    cursor: pointer;  
}


#direitos {
    margin: 30px 10px 0 10px;
    padding-bottom: 20px;
    text-align: center; 
    color: white;
    font-size: 12px;
}


.botao-cadastrar {
    color: white;
}