<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<ion-content>
  <div *ngIf="userProfile; else carregando">
    <ion-header>
      <ion-toolbar>
        <p id="title">Perfil</p>
        <ion-buttons slot="end">
          <img id="logo" src="assets/logo_branca.png" alt="Logo">
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
 <ion-title>
  <p id="user">{{ userProfile.displayName || 'Nome não disponível' }}</p>
 </ion-title>
    <ion-card-content>
      <p><strong>Email:</strong> {{ userProfile.email }}</p>
      <p><strong>Data de Nascimento:</strong> {{ userProfile.dataNascimento || 'Não disponível' }}</p>
      <p><strong>Gênero:</strong> {{ userProfile.genero || 'Não especificado' }}</p>
      <p><strong>CPF:</strong> {{ userProfile.cpf || 'Não disponível' }}</p>
      <p><strong>Celular:</strong> {{ userProfile.celular || 'Não disponível' }}</p>
      <p><strong>Endereço:</strong> {{ userProfile.endereco || 'Não disponível' }}</p>
      <p><strong>País:</strong> {{ userProfile.pais || 'Não disponível' }}</p>
      <p><strong>Estado:</strong> {{ userProfile.estado || 'Não disponível' }}</p>
      <p><strong>Bairro:</strong> {{ userProfile.bairro || 'Não disponível' }}</p>
    </ion-card-content>

    <div *ngIf="userProfile.photoURL">
      <img [src]="userProfile.photoURL" alt="Foto de perfil" class="profile-photo">
    </div>

    <ion-button *ngIf="isAdmin" expand="full" routerLink="/consult-user">
      Consultar usuários
    </ion-button>
  </div>

  <ng-template #carregando>
    <p>Carregando perfil...</p>
  </ng-template>
</ion-content>
