@import "~leaflet/dist/leaflet.css";

*{
    font-family: "open sans", sans-serif;
}

ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
}
.map-content{
    padding: 0 1rem 1rem 1rem;

    #map{

        height: 350px;
        width: 100%;
        
    }
}