

img{
    width: 300px;
}

#logo{
    margin: 50px;
}

ion-card{
    background-color: #0081AA;
}

ion-input{
    color: #5A6266;
    background-color: white;
    border-radius: 10px;
    border-style: none;
}

p{
    color: white;
}
#butao{
    --margin-start: 180px;
}

ion-button{
    --background: white;
    --color: #5A6266;
}