<link rel="stylesheet" href="login.page.scss">
<ion-header [translucent]="true">

</ion-header>
<ion-content [fullscreen]="true">

  <div id="logo">
  <img src="assets/icon/logo.png" alt="">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <br>
      <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <br>
      <p>Esqueceu sua senha?<br>
        Entre em contato</p>
      <br>
      <div id="botao">
        <ion-button>Entrar</ion-button>
      </div>
      <p>Termos de uso</p>
    </ion-card-content>
  </ion-card>
  <p>©ConectaMed - Todos os direitos reservados</p>

</ion-content>