<link rel="stylesheet" href="login.page.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<ion-header [translucent]="true">

</ion-header>
<ion-content [fullscreen]="true">
<div id="body">
  <div id="logo">
  <img src="assets/icon/logo.png" alt="">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title id="titulo">Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Email"  placeholder="..." class="caixa" ></ion-input>
      <br>
      <ion-input type="password" label="Senha" placeholder="...">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <p class="redefinir">Esqueceu sua senha?</p>
        <p class="redefinir">Entre em <a href=""> contato</a></p>
      <br>
      <div id="botao">
        <ion-button>Entrar</ion-button>
      </div>
      <a href="" id="termos">Termos de uso</a>
    </ion-card-content>
  </ion-card>
  <p id="direitos">©ConectaMed - Todos os direitos reservados</p>
</div>
</ion-content>