<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contatos" href="/contatos">
      <ion-icon aria-hidden="true" name="call"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="criadores" href="/criadores">
      <ion-icon aria-hidden="true" name="logo-github"></ion-icon>
      <ion-label>Criadores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
