*{
    font-family: "open sans", sans-serif;
    color: black;
}

ion-header{
    background-color: #0081AA;
}

#body{
    background-color: white;
    padding: 10px 10px 250px 10px;
}

a{
    color: #0e3079;
}

ion-toolbar{
   height: 80px;
}

#title{
 padding: 10px 0 0 10px;
 color: white;
 font-size: 20px;
}

img{
    width: 100px;
    padding-bottom: 30px;
}