*{
    font-family: "open sans", sans-serif;
}

#body{
    padding: 10px 10px 200px 10px;
}

ion-toolbar{
    height: 80px;
    --background:#0081AA;
}
 
#title{
  margin: 30px 0 0 10px;
  color: white;
  font-size: 25px;
}
 
#logo{
    width: 100px;
    margin: 0 0 10px 0;
}

a{
    color: #0e3079;
}

.nav {
    background-color: #0081AA !important; /* Cor de fundo das tabs */
}
  
.nav ion-tab-button {
    color: white !important; /* Cor do texto e ícones em branco */
    background: transparent !important; /* Fundo transparente */
}
  
.nav ion-tab-button:hover,
.nav ion-tab-button:focus,
.nav ion-tab-button:active {
    color: white !important; /* Cor do texto e ícones em branco no hover, focus e active */
    background: transparent !important; /* Fundo transparente */
}
  
.nav ion-tab-button.activated {
    color: white !important; /* Cor do texto e ícones em branco quando ativo */
    background: transparent !important; /* Fundo transparente quando ativo */
}




