*{
    font-family: "open sans", sans-serif;
}

ion-content{
    background-color: #0081AA;
    padding: 30px;
}

ion-toolbar{
   height: 80px;
}

ion-title{
 padding-top: 20px;
}

img{
    width: 100px;
}

ion-content{
    background-color: white;
}