<link rel="stylesheet" href="contatos.page.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<ion-header [translucent]="true">
  <ion-toolbar>
    <p id="title">Contatos</p>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="body">
 <p>Deseja mudar alguma informação, entre em contato com: <a href="">(21) 99999-9999</a></p>
 <p>Deseja reagendar a consulta, entre em contato com:<a href="">(21) 99999-8888</a></p>
 <p>Deseja cancelar a consulta, entre em contato com:<a href="">(21) 99999-7777</a></p>
 <p>Deseja mudar o plano, entre em contato com: <a href="">(21) 99999-6666</a></p>
 <p>Tendo problemas com o aplicativo, entre em contato com: <a href="">conectamedgmail.com</a></p>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="nav">
    <ion-tab-button tab="perfil" routerLink="/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contatos" >
      <ion-icon name="call"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="criadores" routerLink="/criadores">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>Criadores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>
