<link rel="stylesheet" href="contatos.page.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">criadores</ion-title>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="body">
 <p>Deseja mudar alguma informação, entre em contato com: <a href="">(21) 99999-9999</a></p>
 <p>Deseja reagendar a consulta, entre em contato com:<a href="">(21) 99999-8888</a></p>
 <p>Deseja cancelar a consulta, entre em contato com:<a href="">(21) 99999-7777</a></p>
 <p>Deseja mudar o plano, entre em contato com: <a href="">(21) 99999-6666</a></p>
 <p>Tendo problemas com o aplicativo, entre em contato com: <a href="">conectamedgmail.com</a></p>
</div>

</ion-content>
