<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
  rel="stylesheet">

<ion-header [translucent]="true">
  <ion-toolbar>
    <p id="title">Criadores</p>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="body">
    <ion-card class="flex-card">
      <div class="foto" id="aolado">
        <img alt="" src="assets/eu 1.png"/>
      </div>

      <div class="nome">
        <p id="titulo">Brenda Rodrigues</p>
        <p>Contribuções:</p>
        <p>Identidade Visual</p>
        <p>Sei Lá</p>
        <ion-icon name="logo-github" size="large"></ion-icon>
        <ion-icon name="logo-linkedin" size="large"></ion-icon>

      </div>

    </ion-card>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="nav">
      <ion-tab-button tab="perfil" routerLink="/perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="inicio" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="contatos" routerLink="/contatos">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contatos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="criadores">
        <ion-icon name="logo-github"></ion-icon>
        <ion-label>Criadores</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>