<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
  rel="stylesheet">

<ion-header [translucent]="true">
  <ion-toolbar>
    <p id="title">criadores</p>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="body">
    <ion-card>
      <div id="aolado">
        <img alt="" src="assets/eu 1.png" class="foto" />
        <p id="titulo">Brenda Rodrigues</p>
      </div>
      <div id="icons">
        <img src="assets/icon_link.png" alt="" id="link">
        <img src="assets/icon_git.png" alt="" id="git">
      </div>
      <ion-card-content>
        <p id="t_texto">Contribuições</p>
        <div id="list">
          <ul class="lista">
            <li>bla bla</li>
            <li>blabla</li>
            <li>bls</li>
          </ul>
          <ul class="lista">
            <li>bla</li>
            <li>bka</li>
            <li>hskas</li>
          </ul>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <div id="aolado">
        <img alt="" src="assets/eu 1.png" class="foto" />
        <p id="titulo">Brenda Rodrigues</p>
      </div>
      <div id="icons">
        <img src="assets/icon_link.png" alt="" id="link">
        <img src="assets/icon_git.png" alt="" id="git">
      </div>
      <ion-card-content>
        <p id="t_texto">Contribuições</p>
        <div id="list">
          <ul class="lista">
            <li>bla bla</li>
            <li>blabla</li>
            <li>bls</li>
          </ul>
          <ul class="lista">
            <li>bla</li>
            <li>bka</li>
            <li>hskas</li>
          </ul>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="nav">
      <ion-tab-button tab="home" routerlink="/criadores">
        <ion-icon name="logo-github"></ion-icon>
        <ion-label>Criadores</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="bottom" routerlink="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" routerlink="contatos">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contatos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>