*{
    font-family: "open sans", sans-serif;
    color: white;
}

ion-header{
    background-color: #0081AA;
}

#body{
    background-color: white;
}

ion-card{
    background-color: #0081AA;
}

img{
    width: 100px;
}

#aolado{
    display: flex;
    margin: 10px 0 0 10px;
    gap: 10px;
}

#title{
    font-size: 18px;
}