<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>criadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <div id="body">
  <ion-card>
    <div id="aolado">
    <img alt="" src="assets/eu 1.png" class="foto"/>
    <p id="title">Brenda Rodrigues</p>
  </div>
  <div id="icons">
  <img src="assets/icon_link.png" alt="" id="link">
  <img src="assets/icon_git.png" alt="" id="git">
  </div>
    <ion-card-content>
    <p id="t_texto">Contribuições</p>
      <ul class="list">
        <li>bla bla</li>
        <li>blabla</li>
        <li>bls</li>
        <li>bla</li>
        <li>bla</li>
        <li>bla</li>
        <li>nks</li>
        <li>bjf</li>
      </ul>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
