<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<ion-header [translucent]="true">
  <ion-toolbar>
    <p id="title">Consulta de Usuário</p>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="body">
    <p id="titulo">Consultar usuário</p>
    
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="nome" label="Nome" placeholder="..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="cpf" label="CPF" type="number" placeholder="..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="email" label="Email" type="email" placeholder="..."></ion-input>
      </ion-item>
    </ion-list>

    <!-- Exibe a mensagem de erro se algum campo estiver vazio -->
    <ion-text color="danger" *ngIf="mensagemErro">
      <p id="erro">{{ mensagemErro }}</p>
    </ion-text>

    <!-- Exibe a mensagem de "usuário não encontrado" -->
    <ion-text color="danger" *ngIf="usuarioNaoEncontrado">
      <p id="erro">Usuário não encontrado. Verifique os dados informados.</p>
    </ion-text>

    <!-- Botão para Consultar -->
    <ion-button expand="full" id="conf" (click)="consultarUsuario()">Consultar</ion-button>
  </div>
</ion-content>

