ion-toolbar{
  height: 90px;
  --background:#0081AA;
}

#bem{
  color:white;
  padding-left: 10px;
  font-size: 18px;
}

#user{
  display: flex;
  margin-top: 30px;
}

#logo{
  width: 100px;
  margin: 10px 10px 0 0;
  float: right;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-image {
  height: 115px; /* Ajuste a altura conforme necessário */
  object-fit: cover; /* Para manter a proporção e cortar a imagem se necessário */
  width: 100%;
}

ion-tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Aumente o valor do z-index se precisar sobrepor outros elementos */
}

ion-content {
  margin-bottom: 56px; /* Ajuste o valor se o tamanho do ion-tab-bar for diferente */
}


/*cards de consulta*/

.consultas {
  background-color: #0081AA;
  z-index: 0; 
}

.consultas ion-card-header {
  background-color: #0081AA;
}

.consultas ion-card-title {
  color: #fff;
}


