ion-toolbar{
  height: 80px;
  --background:#0081AA;
}
#logo{
  width: 100px;
  margin: 0 0 10px 0;
}
#title{
  margin: 30px 0 0 10px;
  color: white;
  font-size: 25px;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-image {
  height: 115px; /* Ajuste a altura conforme necessário */
  object-fit: cover; /* Para manter a proporção e cortar a imagem se necessário */
  width: 100%;
}

ion-tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Aumente o valor do z-index se precisar sobrepor outros elementos */
}

ion-content {
  margin-bottom: 56px; /* Ajuste o valor se o tamanho do ion-tab-bar for diferente */
}


/*cards de consulta*/

.consultas {
  background-color: #0081AA;
  z-index: 0; 
}

.consultas ion-card-header {
  background-color: #0081AA;
}

.consultas ion-card-title {
  color: #fff;
}


.nav {
  background-color: #0081AA !important; /* Cor de fundo das tabs */
}

.nav ion-tab-button {
  color: white !important; /* Cor do texto e ícones em branco */
  background: transparent !important; /* Fundo transparente */
}

.nav ion-tab-button:hover,
.nav ion-tab-button:focus,
.nav ion-tab-button:active {
  color: white !important; /* Cor do texto e ícones em branco no hover, focus e active */
  background: transparent !important; /* Fundo transparente */
}

.nav ion-tab-button.activated {
  color: white !important; /* Cor do texto e ícones em branco quando ativo */
  background: transparent !important; /* Fundo transparente quando ativo */
}

