<ion-header [translucent]="true">
  <ion-toolbar>
    <p id="title">Início</p>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ConectaMed</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="consultas" a href="" routerLink="/home">
    <img src=assets\marcar.jpg class="custom-image">
    <ion-card-header>
      <ion-card-title>Marcar Consulta</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="consultas" a="#" >
    <img src=assets\consulta.jpg class="custom-image">
    <ion-card-header>
      <ion-card-title>Minhas Consultas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="nav">
      <ion-tab-button tab="criadores" routerLink="/criadores">
        <ion-icon name="logo-github"></ion-icon>
        <ion-label>Criadores</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="inicio" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="contatos" routerLink="/contatos">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contatos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
  

</ion-content>


