<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ConectaMed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ConectaMed</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>CONSULTA AGENDADA</ion-card-title>
   
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>ESPECIALIDADE: Oftalmologia</ion-card-subtitle>
      <ion-card-subtitle>Dr.Raquel Brito</ion-card-subtitle>
      <ion-card-subtitle>UNIDADE: ConcetaMed Bangu - R. Fonseca, 240 - Bangu, Rio de Janeiro - RJ, 21820-005</ion-card-subtitle>
    </ion-card-content>
  
    <ion-button fill="clear">Cancelar</ion-button>
  </ion-card>

  <ion-button> Agendar Consulta</ion-button>
  <ion-button> Minhas Consultas</ion-button>

  <ion-card>
    <img alt="ConectaMed Bangu" src=assets\cmbangu.jpg>
    <ion-card-header>
      <ion-card-title>ConectaMed Bangu</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    <ion-card-subtitle>HORÁRIO DE FUNICNAMENT0: 8:00am ás 18:00pm</ion-card-subtitle>
     R. Fonseca, 240 - Bangu, Rio de Janeiro - RJ, 21820-005
    </ion-card-content>
  </ion-card>





</ion-content>
