<ion-header [translucent]="true">
  <ion-toolbar>
    <p id="title">Início</p>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ConectaMed</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="consultas" [routerLink]="['/agendamento']">
    <img src="assets/marcar.jpg" class="custom-image">
    <ion-card-header>
      <ion-card-title>Marcar Consulta</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="consultas">
    <img src="assets/consulta.jpg" class="custom-image">
    <ion-card-header>
      <ion-card-title>Minhas Consultas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list *ngIf="events.length > 0">
    <ion-item *ngFor="let event of events">
      <ion-label>
        <h2>{{ event.summary }}</h2>
        <p>{{ event.start.dateTime || event.start.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
