<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<ion-header [translucent]="true">
  <ion-toolbar >
    <p id="title">Agendamento</p>
    <ion-buttons slot="end">
      <img id="logo" src="assets/logo_branca.png" alt="Logo">
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <div id="body">
 <p id="titulo">Agendar consulta</p>
 <ion-list>
  <ion-item>
    <ion-select
      interface="popover"
      toggleIcon="add"
      expandedIcon="remove"
      aria-label="consult"
      placeholder="Consulta"
    >
      <ion-select-option value="Clínico">Clínico geral</ion-select-option>
      <ion-select-option value="Oftamologista">Oftamologista</ion-select-option>
      <ion-select-option value="Ginecologista">Ginecologista</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-select
      interface="popover"
      toggleIcon="add"
      expandedIcon="remove"
      aria-label="location"
      placeholder="Local"
    >
      <ion-select-option value="bangu">Bangu</ion-select-option>
      <ion-select-option value="cg">Campo grande</ion-select-option>
      <ion-select-option value="sc">Santa cruz</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-select
      interface="popover"
      toggleIcon="add"
      expandedIcon="remove"
      aria-label="date"
      placeholder="Data"
    >
      <ion-select-option value="ddoze">Dia 12</ion-select-option>
      <ion-select-option value="dtreze">Dia 13</ion-select-option>
      <ion-select-option value="dcatorze">Dia 14</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-select
      interface="popover"
      toggleIcon="add"
      expandedIcon="remove"
      aria-label="hoour"
      placeholder="Hora"
    >
    <ion-select-option value="dez">10:00</ion-select-option>
    <ion-select-option value="meiodia">12:00</ion-select-option>
    <ion-select-option value="tres">15:00</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="nav">
    <ion-tab-button tab="home">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>Criadores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bottom">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
